<div class="row">
  <div class="col-md-4 equipment-pane">
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.head" ng-if="player.equipment.head" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.neck" ng-if="player.equipment.neck" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.shoulder" ng-if="player.equipment.shoulder" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.back" ng-if="player.equipment.back" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.chest" ng-if="player.equipment.chest" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.shirt" ng-if="player.equipment.shirt" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.tabard" ng-if="player.equipment.tabard" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.wrist" ng-if="player.equipment.wrist" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div>XP to level: {{player.xp_to_level}}</div>
      </div>
      <div class="col-md-2 equipment-slots-right">
        <div class="row">
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.hands" ng-if="player.equipment.hands" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.waist" ng-if="player.equipment.waist" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.legs" ng-if="player.equipment.legs" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.feet" ng-if="player.equipment.feet" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.ring1" ng-if="player.equipment.ring1" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.ring2" ng-if="player.equipment.ring2" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.trinket1" ng-if="player.equipment.trinket1" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
              <item item="player.equipment.trinket2" ng-if="player.equipment.trinket2" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <div class="equipment-slot" id="slot-right">
          <item item="player.equipment.right" ng-if="player.equipment.right" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="equipment-slot" id="equipment-left">
          <item item="player.equipment.left" ng-if="player.equipment.left" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 inventory-pane">
  </div>
</div>

