<div class="row">
  <div class="col-md-4 equipment-pane">
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div></div>
      </div>
      <div class="col-md-2 equipment-slots-right">
        <div class="row">
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
          <div class="col-md-12">
            <div class="equipment-slot">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <div class="equipment-slot" id="slot-right">
          <item item="player.equipment.right" ng-if="player.equipment.right" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="equipment-slot" id="equipment-left">
          <item item="player.equipment.left" ng-if="player.equipment.left" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 inventory-pane">
  </div>
</div>

